                                    <div class="alert alert-primary" role="alert">
                                        Semoga yang donasi atau yang sering mengklik iklan diberikan kemudahan dalam segala urusannya dan terwujud cita-citanya.
                                    </div>
                                </div>
                                <div class="col-xl-3 d-flex justify-content-center">
                                    <%- include('./components/ads/kiri-kanan.ejs') %>
                                </div>
                            </div>
                            <span class="d-none d-xl-block">
                                <%- include('./components/ads/atas-bawah.ejs') %>
                            </span>
                        </div>
                    </section>
                    <hr class="my-0" />
                </main>
            </div>
            <%- include('./components/footer.ejs') %>
        </div>
        <%- include('./components/body-script.ejs') %>
        <% if (page === 'home' && !isLoggedIn) { %>
            <script src="/js/index.js"></script>
        <% } %>
        <script src="/js/translator.js"></script>
</body>
</html>
