<%- include('./components/head.ejs') %>
    <body style="text-align: justify;">
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('./components/navigation.ejs') %>
                    <section class="bg-gray-200 py-10">
                        <div class="container-fluid mt-5">
                            <span class="d-none d-xl-block">
                                <%- include('./components/ads/atas-bawah.ejs') %>
                            </span>
                            <div class="row">
                                <div class="col-xl-3 justify-content-center">
                                    <span class="d-block mb-4">
                                        <div class="card">
                                            <div class="card-body text-center">
                                              <button type="button" id="translate" class="btn btn-primary">Translate this site</button>
                                              <div id="translator" class="d-none">
                                                <div id="google_translate_element"></div>
                                                <script src="/js/translator.js"></script>
                                                <script type="text/javascript">
                                                    function googleTranslateElementInit() {
                                                    new google.translate.TranslateElement({pageLanguage: 'id'}, 'google_translate_element');
                                                    }
                                                    </script>
                                                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                                              </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="col-xl-6">