<%- include('./components/head.ejs') %>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('./components/navigation.ejs') %>
                    <section class="bg-gray-200 py-10">
                        <div class="container-fluid">
                            <%- include('./components/ads/atas-bawah.ejs') %>
                            <div class="row">
                                <div class="col-xl-3 d-flex justify-content-center">
                                    <%- include('./components/ads/kiri-kanan.ejs') %>
                                </div>
                                <div class="col-xl-6">