<%- include('./includes/components/head.ejs') %>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('./includes/components/navigation.ejs') %>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center mt-4">
                                        <img class="img-fluid p-4" src="/assets/img/illustrations/404-error.svg" alt="..." />
                                        <p class="lead">Halaman tidak ditemukan.</p>
                                        <a class="text-arrow-icon" href="/">
                                            <i class="ms-0 me-1" data-feather="arrow-left"></i>
                                            Return Home
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr class="my-0" />
                </main>
            </div>
            <%- include('./includes/components/footer.ejs') %>
        </div>
        <%- include('./includes/components/body-script.ejs') %>

</body>
</html>
