<%- include('./includes/top.ejs') %>
    <div class="card shadow-lg border-0 rounded-lg mb-4">
        <div class="card-body">
            <div class="mb-3 d-flex justify-content-center">
                <p>Token sudah kadaluarsa.</p>    
            </div>
            <div class="d-flex justify-content-center">
                <a class="text-arrow-icon" href="/">
                    <i class="ms-0 me-1" data-feather="arrow-left"></i>
                    Return Home
                </a>
            </div>
        </div>
    </div>
<%- include('./includes/bottom.ejs') %>