<%- include('../includes/top.ejs') %>
    <div class="card shadow-lg border-0 rounded-lg mb-4">
        <div class="card-body" style="text-align: justify;">
            <p>Yang kelebihan duit mungkin bisa donasikan sebagian hartanya ke saya hehe...</p>
            <p>Semoga yang donasi dilancarkan rezekinya, terwujudkan keinginannya, dan dimudahkan segala urusannya 😊</p>
            <div class="text-center">
                <div class="mb-5">
                    <h3>BTC</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/btc.jpg" alt="btc"></p>
                </div>
                <div class="mb-5">
                    <h3>ETH</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/eth.jpg" alt="eth"></p>
                </div>
                <div class="mb-5">
                    <h3>DOGE</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/doge.jpg" alt="doge"></p>
                </div>
                <div class="mb-5">
                    <h3>OVO</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/ovo.jpg" alt="ovo"></p>
                </div>
                <div class="mb-5">
                    <h3>DANA</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/dana.jpg" alt="dana"></p>
                </div>
                <div class="mb-5">
                    <h3>ShopeePay</h3>
                    <p class="p-0 m-0"><img class="donasi border border-2 border-dark" src="/donasi/shopeepay.jpg" alt="shopeepay"></p>
                </div>
                <div class="m-0 p-0 mb-5">
                    <script type='text/javascript' src='https://cdn.trakteer.id/js/embed/trbtn-overlay.min.js'></script>
                    <script type='text/javascript'>(function() {var trbtnId = trbtnOverlay.init('Trakteer Dollar','#4CAF50','https://trakteer.id/bagusanugrah/tip/embed/modal','https://trakteer.id/storage/images/units/uic-EAMlcpvJMt0uDHevEDXxc9JDpBGcetO41629972720.png','50','inline');trbtnOverlay.draw(trbtnId);})();</script>
                </div>
            </div>
        </div>
    </div>
<%- include('../includes/bottom.ejs') %>