<%- include('../includes/top.ejs') %>
    <div class="card shadow-lg border-0 rounded-lg mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div style="text-align: justify;" class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">Ketentuan-ketentuan yang perlu diketahui:</h4>
                    <hr>
                    <ol>
                        <li>
                            URL baru yang anda buat tanpa login terlebih dahulu akan dibuat secara random dan 
                            akan dihapus otomatis dari database jika selama 7 hari tidak diakses sama sekali.
                        </li>
                        <li>
                            Jika anda login, anda bisa membuat custom URL anda sendiri dan URL tersebut akan 
                            menjadi permanen.
                        </li>
                        <li>
                            Email yang belum diverifikasi tidak bisa digunakan untuk login dan akan dihapus 
                            otomatis dari database jika selama 5 menit setelah registrasi tidak diverifikasi.
                        </li>
                        <li>
                            Jika anda menggunakan Form Verifikasi Email maka waktu penghapusan akun akan 
                            diperpanjang selama 5 menit ke depan.
                        </li>
                        <li>
                            Akun yang sama sekali tidak login selama 6 bulan akan dihapus otomatis dari database.
                        </li>
                        <li>
                            Link untuk reset password yang dikirimkan ke email anda akan dihapus otomatis dari 
                            database setelah 5 menit semenjak anda mendapatkan link tersebut. Jika sudah dihapus 
                            anda bisa mendapatkan link baru dengan mengisi lagi Form Reset Password.
                        </li>
                        <li>
                            Jika anda ingin merefresh halaman, tekanlah enter pada address bar jangan pakai fitur 
                            refresh dari browser karena jika pakai fitur refresh dari browser suka muncul keanehan 
                            yang tidak diinginkan.
                        </li>
                    </ol>
                    <p class="p-0 m-0">Catatan:</p>
                    <p>
                        Ketentuan-ketentuan penghapusan di atas saya terapkan pada <%= domain %> karena harga sewa server 
                        mahal bos! Jadi saya berusaha supaya databasenya tidak kepenuhan dengan menerapkan algoritma 
                        penghapusan otomatis tersebut.
                    </p>
                  </div>    
            </div>
        </div>
    </div>
<%- include('../includes/bottom.ejs') %>