<%- include('../includes/components/head.ejs') %>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center mt-4">
                                        <img class="img-fluid p-4" src="/assets/img/illustrations/under-construction.svg" alt="...">
                                        <h2>Website ini sedang dalam perbaikan.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr class="my-0" />
                </main>
            </div>
        </div>
        <%- include('../includes/components/body-script.ejs') %>

</body>
</html>
