<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
        <script type="text/javascript">
            atOptions = {
                'key' : '27f61e55fde489f6f5a8ce20b0272a79',
                'format' : 'iframe',
                'height' : 90,
                'width' : 728,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedformats.com/27f61e55fde489f6f5a8ce20b0272a79/invoke.js"></scr' + 'ipt>');
        </script>
    </div>
</div>