<div class="mb-4">
    <script type="text/javascript">
        atOptions = {
            'key' : 'f271ac1c10873cf5e238e9cac1ee1529',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://amplitudewassnap.com/f271ac1c10873cf5e238e9cac1ee1529/invoke.js"></scr' + 'ipt>');
    </script>
</div>