<div id="layoutDefault_footer">
    <footer class="footer pt-0 pb-5 mt-auto bg-white footer-light">
        <div class="container px-5">
            <div class="row gx-5 pt-5 align-items-center">
                <div class="col-md-6 small">Copyright © <a href="/"><%= domain %></a> 2021</div>
                <div class="col-md-6 text-md-end small">
                    Developed by <a href="https://bagusanugrah.my.id" target="_blank">Bagus Anugrah</a> 
                    |
                    Theme by <a href="https://startbootstrap.com" target="_blank">Start Bootstrap</a>
                </div>
            </div>
        </div>
    </footer>
</div>