<div id="layoutDefault_footer">
    <footer class="footer pt-0 pb-5 mt-auto bg-white footer-light">
        <div class="container px-5">
            <div class="row gx-5 pt-5 align-items-center">
                <div class="col-md-6 small">Copyright © Pendekin.Link 2021</div>
                <div class="col-md-6 text-md-end small">
                    <p style="padding: 0; margin: 0;">Dibuat oleh <a href="http://bagusanugrah.my.id" target="_blank">Bagus Anugrah</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>