<% if (isLoggedIn) {%>
    <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn fw-500 ms-lg-4 btn-gray" type="submit">
            Logout
            <i class="ms-2 fas fa-arrow-right"></i>
        </button>
    </form>
<% } else { %>
    <a class="btn fw-500 ms-lg-4 btn-primary" href="/login">
        Login
        <i class="ms-2 fas fa-arrow-right"></i>
    </a>
<% } %>